body {
    font-family: 'Ubuntu';
    margin: 0;
    background-color: #000000
}

p, h1 {
    color: antiquewhite
}

.cabecalho {
    text-align: center;
    border-style: dashed;
    border-color: azure
}

.cabecalho-nome {
    border-style: dashed;
    border-color: azure
}

.cabecalho-foto-de-perfil {
    vertical-align: middle;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(33, 91, 29);
    border-style: dashed;
    border-color: azure
}

.cabecalho-descricao {
    display: inline-block;
    border-style: dashed;
    border-color: azure
}

.corpo-da-pagina {
    text-align: center;
    font-weight: bold
}

.rodape {
    text-align: center
}
